{% extends "base.html" %}

{% block head %}
<script>
    const searchForFiles = () => {
        const searchInputValueFileName = document.getElementById("file_name").value;
        const searchInputValueFolderName = document.getElementById("search_folder_id").value;
        window.location.href = `/drive/search/?file_name=${searchInputValueFileName}&folder_name=${searchInputValueFolderName}`;
    }
    function redirectToURLByFileID(file_id) {
        window.location.href = `/drive/folders_and_files/?file_id=${file_id}`;
    }
    function redirectToURLMoveToTrash(file_id) {
        window.location.href = `/drive/move_to_trash/?file_id=${file_id}`;
    }
    function redirectToURLRemove(file_id) {
        window.location.href = `/drive/delete_file/?file_id=${file_id}`;
    }
    function redirectToURLMoveToFolder(file_id) {
        const searchInputValueMoveToFolder = document.getElementById(`new_folder_${file_id}`).value;
        window.location.href = `/drive/move_file/?file_id=${file_id}&new_folder_id=${searchInputValueMoveToFolder}`;
    }
    function redirectToURLCreateFolder() {
        const searchInputValueCreateFolder = document.getElementById("folder_name").value;
        if ((parentFolderId !== null) || (parentFolderId !== '')) {
            window.location.href = `/drive/create_folder/?folder_name=${searchInputValueCreateFolder}&parent_folder_id=${parentFolderId}`;
        } else {
            window.location.href = `/drive/create_folder/?folder_name=${searchInputValueCreateFolder}`;
        }
    }
</script>
{% endblock %}

{% block content %}

<div class="flex justify-center flex-col items-center">
    <div class="flex my-3 gap-5">
        <label for="file_name">File name</label>
        <input id="file_name" type="text" placeholder="Enter file name" class="text-xl">
        <label for="search_folder_id">Folder ID</label>
        <input id="search_folder_id" type="text" placeholder="Enter folder ID" class="text-xl">
        <button onclick="searchForFiles()" class="border-2 rounded-3xl bg-gray-300 p-3">Search</button>
    </div>
    <div class="flex my-3 gap-5">
        <label for="folder_name">New folder name</label>
        <input id="folder_name" type="text" placeholder="Enter new folder name" class="text-xl">
        <button onclick="redirectToURLCreateFolder()" class="border-2 rounded-3xl bg-gray-300 p-3">Create folder</button>
    </div>

    <div class="max-w-md mx-auto bg-white shadow-md p-8 rounded">
        <form id="uploadForm" method="post" enctype="multipart/form-data">
            <!-- Input for file selection -->
            <div class="mb-4">
                <label for="files" class="block text-gray-700 font-bold mb-2">Select file to create:</label>
                <input type="file" name="files" id="files" required>
            </div>

            <!-- Input for query parameter "folder_id" -->
            <div class="mb-4">
                <input type="hidden" id="folder_id" name="folder_id" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>

            <!-- Submit button -->
            <div class="flex justify-center">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create files</button>
            </div>
        </form>
    </div>

    <div class="flex flex-col">
    <!-- Table header -->
    <div class="flex flex-row font-bold border-b border-gray-400">
        <div class="p-4 w-1/5">Name</div>
        <div class="p-4 w-1/5">Type</div>
        <div class="p-4 w-1/5">Size</div>
        <div class="p-4 w-1/5">Object ID</div>
        <div class="p-4 w-1/5">Actions</div>
    </div>

    <!-- Table rows -->
    {% for record in folders_and_files %}
        {% set record_id = record['id'] %}
        <div class="flex flex-row border-b border-gray-400">
            <div class="p-4 w-1/5">{{ record['name'] }}</div>
            <div class="p-4 w-1/5">{{ files_types_mapping[record['mimeType']] }}</div>
            <div class="p-4 w-1/5">{{ record['size'] }}</div>
            <div class="p-4 w-1/5">{{ record_id }}</div>
            <div class="p-4 w-1/5 flex justify-around">
                <button onclick="redirectToURLByFileID('{{ record_id }}')" class="mr-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Open</button>
                <button onclick="redirectToURLMoveToTrash('{{ record_id }}')" class="mr-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Move to trash</button>
                <button onclick="redirectToURLRemove('{{ record_id }}')" class="mr-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Delete</button>
                <div class="flex items-center">
                    <label for="new_folder_{{ record_id }}"></label>
                    <input id="new_folder_{{ record_id }}" type="text" placeholder="Enter new folder id" class="mr-4 text-xl mr-2">
                    <button onclick="redirectToURLMoveToFolder('{{ record_id }}')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Move to folder</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
{% block footer %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let urlParams = new URLSearchParams(window.location.search);
            let folderId = urlParams.get("file_id");
            if (folderId !== null) {
                document.getElementById("folder_id").value = folderId
                window.parentFolderId = folderId
                document.getElementById("uploadForm").action = `/drive/create_files/?folder_id=${folderId}`
            } else {
                document.getElementById("uploadForm").action = `/drive/create_files/`
                window.parentFolderId = null
            }


        });
    </script>
{% endblock %}
